
.contactSec{
    padding: 80px 0;
    background-color: #030712;
    text-align: center;
}

.container{
    margin: 0 auto;
}


.heading{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
    text-decoration: underline;
}

.inline{
    display: inline;    
}



.contactPara{
    font-size: 18px;
    color: #686F7D;
    margin-bottom: 1.5rem;
}

.email{
 
    padding: .5rem 2rem;
    background: #2563EB;
    color: white;
    border-radius: 12px;
}
.email:hover{
    background: #185beb;
}


.links{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  
    gap: 1.5rem;
}


.linkedin{
    font-size: 30px;
    color: #3B82F6;
}
.linkedin:hover{
    color: #2173f6;
}


.git{
    font-size: 30px;
    color: #374151;
}

.git:hover{
    color: #242a34;
}



.npm{
    font-size: 30px;
    color: #f98425;
}
.npm:hover{
    color: #FB923C;
}