
  


.nav {
    background-color: #030712;
    position: sticky;
    top: 0px;
    overflow-x: hidden;
  }
  .container {
   
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
  }
  .nameContainer {

    color: white;
    font-family: serif;
    font-size: 0.7rem;
    font-weight: bold;
  }
  .nameContainer:hover {
    text-decoration: underline;
  }
  .navigations {
   
    list-style: none;
    display: none;
    gap: 40px;
    color: white;
    font-weight: bold;
  }
  .hovr:hover {
    text-decoration: underline;
  }
  .toggleBtn {
    color: white;
    background-color: transparent;
    border: none;
    font-size: medium;
  }
  .menu {
   
    background-color: #030712;
    color: white;
    font-weight: 700;
    padding: 16px 0;
  }
  .menuNavigations {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
  } 
  @media screen and (min-width: 640px) {
    .navigations {
      display: flex;
    }
    .hamContainer {
      display: none;
    }
    .menu {
      display: none;
    }
  }
  