
.heroSec{
    background-color: rgb(45, 45, 45);
    color: white;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0 1rem;    
}

.imgContainer{
    display: flex;
    grid-column: span 1;
    justify-content: center;
    margin-bottom: 48px;
}


.img{
    border-radius: 1.5rem;
    object-fit: cover;
    border: .25rem solid white;
    width: 100%;
    height: 100%;
}

.textContainer{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.name{
    font-size: 2.25rem;
    font-weight: bold;
}

.span{
    font-size: 1rem;
    gap: 4px;
}




@media screen and (min-width:640px){
    .name{
        font-size: 3.75rem;
    }
}


@media screen and (min-width:768px){
    .heroSec{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .imgContainer{
        margin-bottom: 0;
    }
    .textContainer{
        align-items: flex-start;
        text-align: left;
    }
    .name{
        font-size: 2.25rem;
        padding: 0 40px;
    }
    .span{
        display: flex;
        padding: 0 40px;
    }
    .paraContainer{
        display: inline;
    }
    .paragraph{
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0 40px;
    }    
}



@media screen and (min-width:1024px){
    .heroSec{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .textContainer{
        grid-column: span 2;
    }
    .name{
        padding: 0 64px;
    }
    .span{
        padding: 0 64px;
    }
    .paragraph{
        padding: 0 64px;
    }
}