.container{
    /* " mx-auto p-4 bg-[rgb(45,45,45)]" */
    margin: 0 auto;
    padding: 1rem;
    background-color:rgb(45,45,45) ;
}

.main{
    /* "grid col-span-1 sm:grid-cols-2 gap-6" */
    display: grid;
    /* grid-column: span 1; */
    gap: 1.5rem;
}
.box{
    /* "bg-gray-950 p-4 rounded-lg shadow-lg" */
    background: #0A0915;
    padding: 1rem;
    border-radius: .5rem;
}
.img{
    /* "w-full h-48 object-cover rounded-t-lg" */
    width: 100%;
    height: 192px;
    object-fit: cover;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.projectName{
    /* text-xl font-semibold mt-4 text-white` */
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
    color: white;
}

/* mt-2 text-gray-600 */

.para{
    margin-top: .5rem;
    color: #4B5563;
}

.link{
    /* text-blue-500 mt-4 inline-block */
    color: #3B82F6;
    margin-top: 1rem;
    display: inline-block;
}

/* sm */
@media screen and (min-width:640px){
    .main{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}